/ParcelScanTrackerSln/ParcelScanTracker.Common/obj
/ParcelScanTrackerSln/ParcelScanTracker.Common/bin
/ParcelScanTrackerSln/ParcelScanTracker.DAL/obj
/ParcelScanTrackerSln/ParcelScanTracker.DAL/bin
/ParcelScanTrackerSln/ParcelScanTracker.Test/obj
/ParcelScanTrackerSln/ParcelScanTracker.Test/bin
/ParcelScanTrackerSln/ParcelScanTracker.Worker/obj
/ParcelScanTrackerSln/ParcelScanTracker.Worker/bin
/ParcelScanTrackerSln/.vs
/ScanEventAPI/bin
/ScanEventAPI/obj
/ScanEventAPI/.vs
/.vs





